.become {
	background-color: #fff;
	padding-top: 150px;
}

.become__title {
	max-width: 50%;
}

.become__list {
	margin-top: 95px;
	display: flex;
	flex-wrap: wrap;
}

.become__item {
	flex: 0 0 23,5%;
	margin-right: 2%;
	overflow: hidden;
	border-radius: 4px;
	position:relative;
}

.become__item:nth-last-child(4n) {
	margin-right: 0;
}

.become__text {
position: absolute;
left: 0;
bottom: 0;
padding-left: 55px;
padding-bottom: 63px;
font-weight: 700;
font-size: 24px;
line-height: 31px;
color: var(--white-color);
transform: translateY(300px);
transition: transform 0.3s ease-in-out;
}
