.featured {
	background-image: url("/img/featured.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 1080px;
	position: relative;
}

.featured__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.featured__stories {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 35.3%;
	background-color: rgba(17, 31, 42, 0.9);
	padding: 100px 90px;
}

.blog-article {
	padding-bottom: 150px;
}

.blog-article__category {
	font-weight: 800;
	font-size: 11px;
	line-height: 1;
	text-align: center;
	letter-spacing: 2px;
	color: var(--white-color);
	padding: 15px 30px;
	background-color: var(--accent-color);
	border-radius: 100px;
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.blog-article__title {
font-weight: 700;
font-size: 48px;
line-height: 64px;
color: var(--white-color);
max-width: 40%;
margin-bottom: 20px;
}

.blog-article__descr {
font-family: "SFCCompact", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: var(--white-color);
margin-bottom: 80px;
max-width: 40%;
}

.blog-article__link {
	background-color: var(--neptune-color);
	display: inline-block;
	transition: background-color 0.5s;
	margin-bottom: 50px;
}

.blog-article__link:hover {
	background-color: var(--neptune-hover-color);
	transition: background-color 0.5s;
}

.blog-article__link:hover {
	background-color: var(--neptune-hover-color);
	transition: background-color 0.3s;
}

.featured__title {
font-weight: 700;
font-size: 60px;
line-height: 80px;
color: #FFFFFF;
margin-bottom: 64px;
}

.feature-list__article {
border-bottom: 1px solid #4d5a5f;
display: flex;
align-items: flex-start;
padding: 32px 0;
}

.feature-list__item:last-child .feature-list__article {
border-bottom: 1px solid transparent;
}

.feature-list__image {
	border-radius: 100%;
	overflow: hidden;
	height: 48px;
	width: 48px;
	flex-shrink: 0;
}

	.feature-list__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.feature-list__text {
		margin-left: 32px;
		padding-right: 35px;
	}


.feature-list__title {
font-weight: 700;
font-size: 18px;
line-height: 24px;
color: #FFF;
margin-bottom: 5px;
	}

.feature-list__time {
font-family: "SFProText-Regular", sans-serif;
font-weight: 400;
font-size: 11px;
color: rgba(255, 255, 255, 0.502293);
}

.featured-videos__play {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 40px;
height: 50px;
background-image: url("/img/play-2.svg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
z-index: 50;
}
